/* https://coolors.co/31aa4e-ffbf00-e83f6f-2274a5-ffffff */
:root {
    --background: #31aa4e;
    --foreground: #ffffff;
    --accent-1: #ffbf00 ;
    --accent-2: #e83f6f ;
    --accent-3: #2274a5 ;
    --shadow: #247c39;
    --space-1x: 1rem;
    --space-2x: 2rem;
    --space-4x: 4rem;
    --space-8x: 8rem;
}
* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: 'Helvetica';
}
main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr max-content 1fr;
    grid-template-rows: 1fr max-content var(--space-2x) max-content 1fr ;
}
section {
    background: var(--foreground);
    color: var(--background);
    box-shadow: 0 3px 3px var(--shadow);
    width: 15rem;
    animation: appear .5s ease-in-out 0s 1 normal forwards;
}
    section:nth-of-type(1) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    section:nth-of-type(2) {
        grid-row: 4/5;
        grid-column: 2/3;
    }
    section:nth-of-type(3) {
        grid-row: 2/3;
        grid-column: 4/5;
    }
    section:nth-of-type(4) {
        grid-row: 4/5;
        grid-column: 4/5;
    }
    section.loading {
        opacity: .5;
        animation: none;
    }
    @keyframes appear {
        from { opacity: .5; }
        to { opacity: 1; }
    }
header {
    background: var(--accent-3);
    color: var(--foreground);
    padding: var(--space-1x);
    display: flex;
    align-items: center;
}
h3:before {
    content: ' \2BC8 '
}
p {
    padding: var(--space-2x) var(--space-1x);
}
    .soon p {
        border-bottom: solid 5px var(--accent-1);
        color: var(--accent-1);
        font-size: larger;
    }
    .soon.imminent p {
        border-bottom-color: var(--accent-2);
        color: var(--accent-2);
    }